{% extends 'base.html' %}
{% block title %}Login{% endblock %}

  {% block head %}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        <link rel="stylesheet" href="/static/css/all_features.css">
  {% endblock %}

{% block body %}


    <a class="btn btn-primary" href="/charts">Future Icon Temp Chart</a>


    <form class="form" action = "/temperatures" method="GET">

        <h2 class="form-feature">Temperature</h2>
        <input type="date" name = "tdate">
      
        <div>
          <label for="temperature" class="feature">Add your temperature</label>
          <input type="text"
                 name="temperature"
                 class="form-control input-lg"
                 placeholder="temperature"
                 required
                 autofocus>
        </div>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Add Temperature
        </button>
    
    </form>
    


    <div>.</div>
    <a class="btn btn-primary" href="/supp_charts">Future Icon Supplement Chart</a>
   

    <form class="form" action = "/supplements" method="GET">
    
        <h2 class="form-feature">Supplement</h2>
      
        <div>
          <label for="supplement" class="feature">Add your supplement</label>
          <input type="text"
                 name="supplement"
                 class="form-control input-lg"
                 placeholder="supplement"
                 required
                 autofocus>
        </div>

        <div>
          <label for="supp_time" class="entry">When to take</label>
            <select name="supp_time">
              <option value ="upon_rising">Upon rising</option>
              <option value ="with_breakfast">With breakfast</option>
              <option value ="mid-morning">Mid-morning</option>
              <option value ="with_lunch">With lunch</option>
              <option value ="mid-afternoon">Mid-afternoon</option>
              <option value ="with_dinner">With dinner</option>
              <option value ="after_dinner">After dinner</option>
              <option value ="before_bed">Before bed</option>
            </select>
        </div>

        <div>
          <label for="supp_dose" class="entry">How many</label>
          <input type="number" name = "supp_dose" placeholder ="1" step="1" min="1" max="100">
        </div>
        
        <div>
          <label for="supp_dose_type" class="entry">Dose</label>
            <select name="supp_dose_type">
              <option value ="capsule">capsule</option>
              <option value ="scoop">scoop</option>
              <option value ="cup">cup</option>
              <option value ="glass">glass</option>
            </select>
        </div>



        <button class="btn btn-lg btn-primary btn-block" type="submit">Add Supplement
        </button>
    
    </form>


    <div>.</div>

    <h2 class="form-feature">Meal Journal</h2>
    <a href="/meal_journal" class="btn btn-primary">Future Icon Meal Journal</a>
    
    <div>.</div>

    <h2 class="form-feature">Calendar</h2>
    <a href="/calendar" class="btn btn-primary">Future Icon Calendar</a>

{% endblock %}