{% extends 'base.html' %}
{% block title %}ChartJS and D3 Demos{% endblock %}

{% block head %}
  <script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script>
{% endblock %}

{% block body %}

{% for t in  temperature_list %}
<p>{{t}}</p>
{% endfor %}
  <canvas id="test-chart"></canvas>
  
  <script>
    const testChart = new Chart(
      document.getElementById('test-chart'),
      {
        type: 'line',
        data: {
          labels: [ {% for item in temp_dates_list %}
                      "{{item}}",
                    {% endfor %}],
          datasets: [
            {data: [{% for item in temperature_list %}
                       {{item}},
                     {% endfor %}]}
          ]
        }
      }
    );
    
  </script>




  <footer>
    <p>Copyright 2022. All rights reserved.</p>
  </footer>
{% endblock %}