{% extends 'base.html' %}
{% block title %}ChartJS and D3 Demos{% endblock %}

{% block head %}
  <script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script>
  
  <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <link rel='stylesheet' href='static/css/supplements.css'>
{% endblock %}

{% block body %}

  <form class="form" action = "/supplements" method="GET">
      
    <h2 class="form-feature">Supplement</h2>

    <div>
      <label for="supplement" class="feature">Add your supplement</label>
      <input type="text"
            name="supplement"
            class="form-control input-lg"
            placeholder="supplement"
            required
            autofocus>
    </div>
    <div>
      <h4 class="form-update">When should you take your supplement</h2>
      <label><input type="checkbox" name="upon_rising" value="upon_rising"> Upon rising</label>
      <label><input type="checkbox" name="with_breakfast" value="with_breakfast"> With breakfast</label>
      <label><input type="checkbox" name="mid_morning" value="mid_morning"> Mid-morning</label>
      <label><input type="checkbox" name="with_lunch" value="with_lunch"> With lunch</label>
      <label><input type="checkbox" name="mid_afternoon" value="mid_afternoon"> Mid-afternoon</label>
      <label><input type="checkbox" name="with_dinner" value="with_dinner"> With dinner</label>
      <label><input type="checkbox" name="after_dinner" value="after_dinner"> After dinner</label>
      <label><input type="checkbox" name="before_bed" value="before_bed"> Before bed</label>
    </div>

    <div>
      <label for="supp_dose" class="entry">How many</label>
      <input type="number" name = "supp_dose" value = 1 step="1" min="1" max="100">
    </div>
    
    <div>
      <label for="supp_dose_type" class="entry">Dose</label>
        <select name="supp_dose_type">
          <option value ="capsule">capsule</option>
          <option value ="scoop">scoop</option>
          <option value ="cup">cup</option>
          <option value ="glass">glass</option>
        </select>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Add Supplement
    </button>

  </form>

{% set timesList = ["Upon rising", "With breakfast", "Mid-morning", "With lunch", "Mid-afternoon", 
                    "With dinner", "After dinner", "Before bed"] %}

<div class="table_vis">

  <h1>Supplement Chart</h1>
  <p class="question">SubTitle</p>

</div>

<table style="width:100%">
  <tr>
    <th>Name</th>
    {% for time in timesList %}
      <th>{{time}}</th>
    {% endfor %}
  </tr>

  {% for name in supplement_names %}
  <tr>
    <td>{{name}}</td>
    {% for dose in data[name] %}

        <td>{{dose}}</td>

    {% endfor %}

  </tr>
  {% endfor %}
</table>

<!-- <div class="table_links">

  <a href="/page1" class="btn btn-lg btn-primary">click</a>
  <a href="/page2" class="btn btn-lg btn-primary">click</a>

</div> -->


  <script src="/static/js/chart_supp.js"></script>
  <footer>
    <p></p>
  </footer>
{% endblock %}