/* Fertility Login_register page */

/* The body has an image that spans the entire size of the page.
   Everything is centered and in white. */

body {
   background: #333 url("/static/img/katja-vogt-HIuZYCEBZBE-unsplash.jpg");
   background-size: cover;

   color: white;
   text-align: center;
}
   
div.meal-summary img {
   width: 15em;
   /* height: 15em; */
}


#leftbox{
   float:left;
   width:25%;
   height: 200px;
}

#middlebox {
   float:left;
   width:25%;
   height: 200px;
}

#rightbox {
   float:right;
   width:25%;
   height: 200px;
}



